body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 97%;
    padding: 10px;
    border: 1px solid #7d7a7a;
    border-radius: 3px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #7d7a7a;
    border-radius: 3px;
    font-size: 16px;
}

button {
    background-color: #4c83ab;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #4c83ab;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}